<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary m-0">Usuários</h1>
    <a routerLink="/usuario/cadastro" class="btn btn-success">
      <i class="bi bi-plus-lg me-1"></i> Novo Usuario
    </a>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3 gap-2">
    <div class="flex-grow-1">
      <input type="text" class="form-control" placeholder="Pesquisar usuario..." [(ngModel)]="filtroPesquisa"/>
    </div>

    <select class="form-select w-auto" [(ngModel)]="filtroFimVigencia">
      <option value="all">Todos</option>
      <option value="true">Ativos</option>
      <option value="false">Inativos</option>
    </select>

    <select class="form-select w-auto" [(ngModel)]="filtroDirecao">
      <option value="asc">Ascendente</option>
      <option value="desc">Descendente</option>
    </select>

    <button class="btn btn-primary" (click)="filtrarUsuarios()">Buscar</button>

    <button class="btn btn-outline-secondary" (click)="toggleView()" title="Alternar visualização">
      <i class="bi" [ngClass]="viewMode === 'gallery' ? 'bi-list' : 'bi-grid'"></i>
    </button>
  </div>

  <!-- Visualização de Galeria -->
  <div class="row g-4" [ngClass]="{'d-none': viewMode === 'list'}">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let usuario of usuarios">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ usuario.nome }}</h5>
          <p class="mb-1">
            <strong>Status: </strong>
            <span class="badge badge-fixed-width" [ngClass]="usuario.status ? 'bg-success-dark' : 'bg-gray'">
              {{ usuario.status ? 'Ativo' : 'Inativo' }}
            </span>
          </p>
          <p class="mb-1"><strong>E-mail:</strong> {{ usuario.email }}</p>
          <p class="mb-1"><strong>Contrato de trabalho:</strong> {{ usuario.contrato_trabalho?.nivel_tecnico }}</p>
          <p class="mb-1"><strong>Nível de acesso:</strong> {{ usuario.nivel_acesso }}</p>
          <p class="mb-1"><strong>Início Vigência:</strong> {{ usuario.inicio_vigencia | date:'dd/MM/yyyy':'UTC' }}</p>
          <p class="mb-1"><strong>Fim Vigência:</strong> {{ usuario.fim_vigencia | date:'dd/MM/yyyy':'UTC' }}</p>
          <div class="d-flex gap-2">
            <a [routerLink]="['/usuario/edicao', usuario.id]" class="btn btn-outline-primary btn-sm w-100">
              <i class="bi bi-pencil-square me-1"></i> Editar
            </a>
            <button class="btn btn-outline-danger btn-sm w-100" (click)="excluirUsuario(usuario.id)">
              <i class="bi bi-trash me-1"></i> Excluir
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Visualização de Lista (Tabela) -->
  <div class="list-view" [ngClass]="{'d-none': viewMode === 'gallery'}">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Status</th>
        <th>E-mail</th>
        <th>Contrato de trabalho</th>
        <th>Nível de acesso</th>
        <th>Início Vigência</th>
        <th>Fim Vigência</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nome }}</td>
        <td>
            <span class="badge badge-fixed-width" [ngClass]="usuario.status ? 'bg-success-dark' : 'bg-gray'">
              {{ usuario.status ? 'Ativo' : 'Inativo' }}
            </span>
        </td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.contrato_trabalho?.nivel_tecnico }}</td>
        <td>{{ usuario.nivel_acesso }}</td>
        <td>{{ usuario.inicio_vigencia | date:'dd/MM/yyyy':'UTC' }}</td>
        <td>{{ usuario.fim_vigencia | date:'dd/MM/yyyy':'UTC' }}</td>
        <td>
          <a [routerLink]="['/usuario/edicao', usuario.id]" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-pencil-square"></i>
          </a>
          <button class="btn btn-outline-danger btn-sm ms-2" (click)="excluirUsuario(usuario.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
