<aside class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
  <div class="container d-flex flex-column py-3 h-100">
    <nav class="nav flex-column">
      <a class="nav-link text-primary" routerLink="/home" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-house-door-fill me-2"></i> Início
      </a>
      <a class="nav-link text-primary" routerLink="/cliente/listagem" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-person-vcard-fill me-2"></i> Clientes
      </a>
      <a class="nav-link text-primary" routerLink="/alocacao/listagem" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-calendar-week-fill me-2"></i> Alocações
      </a>
      <a class="nav-link text-primary" routerLink="/contrato-trabalho/listagem" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-calendar3-range-fill me-2"></i> Contrato de Trabalho
      </a>
      <a class="nav-link text-primary" routerLink="/usuario/listagem" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-person-fill me-2"></i> Usuários
      </a>
      <a class="nav-link text-primary" routerLink="/categoria-pai/listagem" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-segmented-nav me-2"></i> Categoria Pai
      </a>
    </nav>

    <nav class="nav flex-column mt-auto">
      <a class="nav-link text-primary" routerLink="/configuracoes" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-gear me-2"></i> Configurações
      </a>
      <a class="nav-link text-primary" routerLink="/relatorios" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-file-earmark-bar-graph me-2"></i> Relatórios
      </a>
      <a class="nav-link text-primary" routerLink="/perfil" routerLinkActive="active" (click)="closeSidebar()">
        <i class="bi bi-person-circle me-2"></i> Perfil
      </a>
    </nav>
  </div>
</aside>
